<div class="custom-background">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-1 order-2">
        <!-- Contenido del div izquierdo -->
        <div class="col-md-6 order-md-1 order-2 d-flex align-items-center justify-content-center">
          <!-- Contenido del div izquierdo -->
          <div class="dropzone-wrapper">
            <div class="dropzone">
              <i class="bi bi-cloud-arrow-up-fill"></i>
              <p class="text-light">Arrastra tus archivos aquí para subirlos</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1">
        <div class="d-flex align-items-center justify-content-center h-100">
          <!-- Contenido centrado -->
          <div>
            <div class="container col-8 text-center">
              <h1 class="text-light my-5">Bienvenido a DDrop</h1>
              <p class="text-light mb-5">Para subir tus archivos de forma simple a Drive, puedes hacer login a través de Google.</p>
              <hr>
              <div class="col-12 mt-3">
                <button type="button" class="btn btn-outline-light w-100 mt-5 text-lowercase"><i class="bi bi-google"></i><span class="text-capitalize"> Login</span> con Google</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
